body {
        animation: animatedBody 1s linear;
        -ms-animation: animatedBody 1s linear;
        -moz-animation: animatedBody 1s linear;
        -webkit-animation: animatedBody 1s linear;
        
        font-family: 'Changa One', cursive;
}

.home {
        animation: animatedBackground 1s ease-in-out;
        -ms-animation: animatedBackground 1s ease-in-out;
        -moz-animation: animatedBackground 1s ease-in-out;
        -webkit-animation: animatedBackground 1s ease-in-out;
        
        background-color: #f9f9f9;
}

@media (min-width: 0px) {
  .home {
        height: 430px;
  }
.home-bg {
        height: 430px;
  }
}

@media (min-width: 768px) {
  .home {
        height: 445px;
  }
.home-bg {
        height: 445px;
  }
}

@media (min-width: 992px) {
  .home {
        height: 515px;
  }
.home-bg {
        height: 515px;
  }
}

@media (min-width: 1200px) {
  .home {
        height: 580px;
  }
.home-bg {
        height: 580px;
  }
}


.home-bg {
        background-image: url('../img/nexus10_half.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
                
        width: 1170px;

        background-position: center bottom;
        
        z-index: 0;
}

.main {
        background-color: #149c82;
        border-top: 15px solid #1abc9c;
        
        -webkit-box-shadow: 0 7px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 7px 0 rgba(0,0,0,.1);
box-shadow: 0 7px 0 rgba(0,0,0,.1);
}

.wrapper {
        box-sizing: border-box;
        position: relative;
}

.anchor {
        position: absolute;
        top: -80px;
}

.feature {
        padding-top: 12px;
}


.bg-black {
        background-color: #000;
}

.bg-green {
        background-color: #149c82;
}
.bg-light {
        background-color: #f9f9f9;
}

.btn-android {
        display: inline-block;
        background: url('../img/android-app-on-google-play-logo.png') no-repeat;
        height: 65px;
        width: 200px;
        border: 0;
}

.text-white {
        color: #fff;
}


/* 
 * Phone frame
 */
#phone-frame {
        width: 360px;
        padding: 10px 10px 10px 10px;
}

#phone-inner {
        position: absolute;
        top: 75px;
        left: 62px;
        width: 267px;
}


/* 
 * Animation
 */
.fadeIn { 
        opacity:0; filter:alpha(opacity=0);
}

/* 
 * Custom buttons
 */
.btn-download {
        color: #ffffff;
        background-color: #18bc9c;
        border: 1px solid #149c82;
        vertical-align:middle;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active,
.btn-download.active,
.open .dropdown-toggle.btn-download {
        color: #ffffff;
        background-color: #13987e;
        border-color: #11866f;
}

/* 
 * Phone image slide
 */
.phone-slide {
        display: list-item;
        float: left;
        position: relative;
        opacity: 1;
        transition: opacity 500ms ease-in-out;
        -webkit-transition: opacity 500ms ease-in-out;
}

.phone-slide_nav {
        position: absolute;
        z-index: 10;
        
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        
        height: 61px;
        width: 38px;
        top: 40%;
        left: 0;
        
        overflow: hidden;
        text-indent: -9999px;
        text-decoration: none;

        background: transparent url("../img/themes.gif") no-repeat left top;
        opacity: 0.3;
        filter: alpha(opacity=30);
}

.phone-slide_nav.prev {
}

.phone-slide_nav.next {
        left: auto;
        background-position: right top;
        right: 0;
}

.rslides_container {
        position: relative;
        height: 520px;
        margin: 0 auto;
}


/* 
 * Responsive slides
 */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
