html, body {
        height:100%;
        margin: 0;
        padding: 0;
        overflow: auto;
}

body {
        font: bold 20px Helvetica, Arial, sans-serif;
        background: #ddd;
}

/**
 * This is a sublist for one letter
 **/
.listContainer dl {
        padding: 32px 0 0 0;
        position: relative;
}

/**
 * We don't want top margin here.
 * Override bootstraps default margin.
 **/
.listContainer dl:first-child {
        margin-top: 0;
}

/**
 * Represents a one letter headline and serves as a devider.
 **/
.listContainer dt {
        position: absolute;
        padding: 2px 0 0 12px;
        min-height: 1px;
        
        top: 0;
        bottom: auto;
        width: 100%;
        
        background: #fff;
        color: #37b3f3;
}

/**
 * Entry for every single law code.
 **/
.listContainer dd {
        background: #eee;
        margin: 0;
        padding: 0 12px 0 12px;
        cursor: pointer;
}

/**
 * Entry for every single law code.
 **/
.listContainer dd:hover {
        background: #37b3f3;
}

/**
 * Every law entry consists of two divs.
 * First one is a big abbreviation of the law name.
 * Second one is then full name written with a much smaller font.
 * Here we define the second div.
 **/
.listContainer dd > div:last-child {
        font: 12px/14px Helvetica, Arial, sans-serif;
        
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.8em;
}

/**
 * Fix headlines always on top
 **/
.headlineContainer {
/*         position: fixed; */
/*         padding-left: 50px; */
}

/**
 * Classes for different headlines
 **/
.headline-1 {
       font-style:italic;
       background: #fff;
}

/**
 * 
 **/
.loading {
        position: fixed;
        left: 75px;
        top: 97px;
}



div.scrollable {
    position: absolute;
    top: 40px;
    bottom: 20px;
/*     overflow-y: scroll; */
}